.flex_continer{
    display:flex;
     background-color: darkorchid;
    margin:auto;
    border-radius: 15px;
    height:100%;
    width:100%;
    box-sizing: border-box;
    flex-wrap:wrap;
    
}

.flex_box{
    background-color: deepskyblue;
    margin:20px;
    border-radius: 15px;
    width:400px;
    height: 400px;
    font-size: 20px;
    line-height: 400px;
}

.flex_box1{
    background-color: rebeccapurple;
    height: 100px;
    width:95%;
    margin:20px;
    border-radius: 15px;
    font-size: 20px;
    align-content: center;
    line-height: 400px;
}
